auto-install-peers=true
strict-peer-dependencies=true
node-linker=isolated
# public hoist ESLint packages 
public-hoist-pattern[]=@babel/eslint-parser
public-hoist-pattern[]=@babel/preset-env
public-hoist-pattern[]=@eslint/js
public-hoist-pattern[]=@typescript-eslint/eslint-plugin
public-hoist-pattern[]=@typescript-eslint/parser
public-hoist-pattern[]=eslint
public-hoist-pattern[]=eslint-config-next
public-hoist-pattern[]=eslint-config-prettier
public-hoist-pattern[]=eslint-config-turbo
public-hoist-pattern[]=eslint-plugin-turbo
public-hoist-pattern[]=eslint-import-resolver-typescript
public-hoist-pattern[]=eslint-plugin-file-extension-in-import-ts
public-hoist-pattern[]=eslint-plugin-import
public-hoist-pattern[]=eslint-plugin-prettier
public-hoist-pattern[]=eslint-plugin-react
public-hoist-pattern[]=eslint-plugin-tsdoc
public-hoist-pattern[]=globals
public-hoist-pattern[]=next
public-hoist-pattern[]=prettier
# public hoist TypeScript packages
public-hoist-pattern[]=@swc/core
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=load-tsconfig
public-hoist-pattern[]=ts-node
public-hoist-pattern[]=tsup
public-hoist-pattern[]=type-fest
public-hoist-pattern[]=typescript
# public hoist Jest packages
public-hoist-pattern[]=jest
public-hoist-pattern[]=jest-*
public-hoist-pattern[]=@jest/*
public-hoist-pattern[]=ts-jest
public-hoist-pattern[]=@types/jest
# public hoist for generators
public-hoist-pattern[]=plop-pack-json-modify

